
@{
    ViewBag.Title = "PatientInformation";
}

<h2>PatientInformation</h2>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    var link = window.location.href;
    var Tc = link.split("#");
    alert(Tc[1]);

</script>